#fale-conosco h2 {
    font-size: 25px;
}

#fale-conosco h3 {
    font-size: 22px;
}

#fale-conosco p {
    font-size: 16px;
    margin-left: 33px;
}

#fale-conosco label {
    color: #fff;
    font-size: 16px;
}

.card-input {
    width: 80%;
}

#fale-conosco button  {
    background-color: red;
    color: #fff;
    width: 80%;
} 

#fale-conosco button:hover {
    background-color: red;
    box-shadow: 0px 0px 10px red;
    color: #fff;
}

.icons {
    color: #fff;
}

.icon {
    color: red;
}

#fale-conosco p {
    color: #fff;
}

/* VISÃO MOBILE  */
@media (max-width: 640px) {
    #fale-conosco h2 {
        margin-top: -40px;
    }

    .card-input {
        width: 100%;
    }

    #fale-conosco button {
        width: 100%;
    }

}
